<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.guyu.mapper.GoodsMapper">
  <resultMap id="BaseResultMap" type="org.guyu.domain.d0.GoodsDO">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="app_id" jdbcType="INTEGER" property="appId" />
    <result column="app_goods_id" jdbcType="BIGINT" property="appGoodsId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="attrs" property="attrs" />
    <result column="origin_price" jdbcType="DECIMAL" property="originPrice" />
    <result column="sell_price" jdbcType="DECIMAL" property="sellPrice" />
    <result column="is_gift" jdbcType="TINYINT" property="gift" />
    <result column="is_deleted" jdbcType="TINYINT" property="deleted" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="creator_id" jdbcType="BIGINT" property="creatorId" />
    <result column="updater_id" jdbcType="BIGINT" property="updaterId" />
    <result column="cover" jdbcType="VARCHAR" property="cover" />
    <result column="detail_pic" jdbcType="VARCHAR" property="detailPic" />
    <result column="video_src" jdbcType="VARCHAR" property="videoSrc" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>

  <sql id="all_column">
	  id, app_id, app_goods_id, name, title, code, description, attrs, goods_type, origin_price, sell_price,
	  order_type_val, status, is_gift, is_deleted, sort, creator_id, updater_id, cover, detail_pic, video_src, create_time, update_time
  </sql>

  <insert id="insert">
    insert into goods
        (app_goods_id, attrs, status) values (#{goods.appGoodsId}, #{goods.attrs}, #{goods.status})
  </insert>

  <update id="updateJson" >
    update goods set attrs = json_set(attrs

    <foreach collection="entries" item="item">
      ,#{item.key}, #{item.value}
    </foreach>
    )
    where id = 17394
  </update>
</mapper>

